@primaryBackground: rgba(78, 125, 255, 0.5) 0%, rgba(35, 87, 255, 0.2);
@titleColor: rgba(0, 255, 255, 0.9);
@subTitleColor: rgba(0, 255, 255, 0.9);
@columnGap: 0.6rem;

.homePage {
  height: 100%;
  width: 100%;
  position: relative;

  :global {}
}